<div class="panel mue-panel mue-panel-wide mue-panel-lagoon">
    <div class="panel-heading">
        My calendars
    </div>
    <div class="panel-body">
        <div class="list-group mue-list-group mue-list-group-flat mue-list-group-dark"></div>
        <ul class="mue-toolbar-action mue-toolbar-action-horizontal mue-toolbar-action-dark">
            <li>
                <button data-link="new" class="btn btn-clear">
                    <i class="fa fa-plus mue-icon"></i>
                </button>
            </li>
            <li>
                <button data-link="select" class="btn btn-clear">
                    <i class="fa fa-check-square-o mue-icon"></i>
                </button>
            </li>
            <li>
                <button data-link="unSelect" class="btn btn-clear">
                    <i class="fa fa-square-o mue-icon"></i>
                </button>
            </li>
        </ul>
    </div>
</div>
<div class="calendar-manager-footer"></div>