<form>
    <div class="mue-form-group-content">
        <div class="form-group">
            <div class="form-control-icon">
                <i class="fa fa-user mue-icon"></i>
                <input type="text" name="title" class="form-control" placeholder="Title" value="<%= event.title %>">
            </div>
        </div>

        <div class="form-group">
            <select name="calendarId">
                <% _.each(calendars, function(calendar){ %>
                <option value="<%= calendar._id %>"><%= calendar.name %></option>
                <% }) %>
            </select>
        </div>
    </div>

    <div class="form-group clearfix">
        <div class="pull-left">
            <button type="button" class="btn btn-neutral" data-link="cancel">Cancel</button>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-lagoon btn-action btn-sm" data-link="edit">
                <i class="fa fa-plus mue-icon"></i>
                <span>Edit</span>
            </button>
            <button type="submit" class="btn btn-banana btn-action btn-sm" data-link="create">
                <i class="fa fa-plus mue-icon"></i>
                <span>Create</span>
            </button>
        </div>
    </div>

    <div class="messages"></div>
</form>