<form>
    <div class="mue-form-group-content">
        <div class="form-group">
            <div class="form-control-icon">
                <i class="fa fa-user mue-icon"></i>
                <input id="name" type="text" name="name" class="form-control" placeholder="Name">
            </div>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-banana btn-action btn-block" data-link="create"><i class="fa fa-plus mue-icon"></i>New calendar</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-clear btn-block" data-link="cancel">Cancel</button>
    </div>

    <div class="messages"></div>
</form>