<div class="mue-agenda-day">
    <div class="row">
        <div class="col-md-3">
            <h4><%= date %></h4>
        </div>
        <div class="col-md-9">
            <ul>
                <% _.each(events, function(item){ %>
                <li data-event-id="<%= item.event._id %>" data-link="event">
                    <div class="row">
                        <div class="col-md-2">
                            <%= item.event.start.getHours() %>: <%= item.event.start.getMinutes() %> -
                            <%= item.event.end.getHours() %>: <%= item.event.end.getMinutes() %>
                        </div>
                        <div class="col-md-10">
                            <%= item.event.title %>
                        </div>
                    </div>
                </li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>
<br/>