<div class="row">
    <div class="col-md-2">
        <div class="mue-calendar-date <%= (today) ? 'today' : ''%> <%= (weekend) ? 'weekend' : ''%>">
            <p class="mue-calendar-date-number"><%= date.date %></p>

            <p><%= date.day %>, <%= date.month %></p>
        </div>
    </div>

    <div class="col-md-6">
        <% _.each(events, function(item){ %>
        <div class="panel mue-panel mue-calendar-agenda-event mue-calendar-color-<%= item.calendar.color %>"
             data-event-id="<%= item.event._id %>" data-link="event">
            <div class="panel-body">
                <div class="mue-calendar-agenda-event-title"><%= item.event.title %></div>
                <div class="mue-calendar-agenda-event-description"><%= item.event.description %></div>

                <% if(item.event.isAllDay) { %>
                <div>
                    <i class="fa fa-circle-thin mue-icon"></i>
                    All day
                </div>
                <% } else { %>
                <div>
                    <i class="fa fa-clock-o mue-icon"></i>
                    <%= item.event.start.getHours() %>:<%= item.event.start.getMinutes() %> - <%=
                    item.event.end.getHours() %>:<%= item.event.end.getMinutes() %>
                </div>
                <% } %>

                <div class="mue-calendar-agenda-event-actions">
                    <button title="remove" class="btn btn-bruise btn-xs" data-link="edit">
                        <i class="fa fa-pencil mue-icon"></i>
                    </button>
                    <button title="remove" class="btn btn-strawberry btn-xs" data-link="remove">
                        <i class="fa fa-close mue-icon"></i>
                    </button>
                </div>
            </div>
        </div>
        <% }) %>

        <div data-link="newEvent" class="mue-calendar-agenda-event-create">
            <span>Add new</span>
        </div>
        <div class="new-event-region"></div>
    </div>
</div>
<br/>