<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-5 date-switcher-region"></div>
        <div class="col-md-7 date-period-region"></div>
    </div>
    <div class="row">
        <div class="col-md-3 sidebar-region">
            <div class="widget-first-region">

            </div>
        </div>
        <div class="col-md-9 calendar-region"></div>
    </div>
</div>