<div class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="mue-header">
                <div class="mue-brand">Caleeendar!</div>
                <ul class="mue-nav mue-header-menu pull-right">
                    <li>
                        <a data-link='logout' href="">Logout</a>
                    </li>
                </ul>
            </header>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-lagoon btn-action" data-link="create">Create</button>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6 date-switcher-region"></div>
                <div class="col-md-6 date-period-region"></div>
            </div>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-3 sidebar-region">
            <div class="widget-first-region">

            </div>
        </div>
        <div class="col-md-9 calendar-region"></div>
    </div>
</div>