<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-5 date-switcher-region"></div>
        <div class="col-md-7 date-period-region"></div>
    </div>
    <div class="row">
        <div class="col-md-12 calendar-region"></div>
    </div>
</div>